<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<div ng-app="myApp" ng-controller="secondCtrl">
 <h2>You've got {{getActiveTodos()}} out of {{getTotalTodos()}} things to do</h2>
<ul style="list-style-type:none ; margin-left : 170px" id = "main">

<li> <input type="checkbox" ng-click="CrossAllItem()"  id = "check1"> <input type="text" ng-model="taskName" style ="height: 30px;
  width: 800px; font-family: monospace; font-size: 20px; padding-left: 10px; border-radius: 10px; border: 2px solid rgb(123, 0, 255);" placeholder="What needs to be done?"> <button type="button" ng-click="addItem()"  id = "btn_add"  >Add Item</button></li>
<li  class = "asd" ng-repeat="x in listitems"  style = "font-size: 25px;
  font-family: monospace; padding-top: 15px;">
   <input type="checkbox" ng-click="CrossItem(x)"  class = "check2" > {{x.taskdes}}
  </li>

</ul>

<button type="button" ng-click="showActiveItem()" id = "btn_active">Active</button>
<button type="button" ng-click="showCompleteItem()" id ="btn_complete">Completed</button>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('secondCtrl', function($scope) {
   
$scope.listitems = [];
 var storeitems =[];
$scope.addItem = function() {
         
        $scope.data = { taskdes:  $scope.taskName , taskStatus : "active" };
        $scope.listitems.push( { taskdes:  $scope.taskName , taskStatus : "active" });
  $scope.taskName= " ";
    };

$scope.CrossItem = function(x) {
        var y = $scope.listitems.indexOf(x);
		$scope.listitems[y].taskStatus = "completed";
	 document.getElementsByClassName("asd")[y].style.textDecoration = "line-through";
     document.getElementsByClassName("asd")[y].style.color = "red"; 
  document.getElementsByClassName("check2")[y].checked= false; 

    };
$scope.CrossAllItem = function() {
  
	 for(i=0;i<$scope.listitems.length;i++)
	 {
      $scope.listitems[i].taskStatus = "completed";
	   document.getElementsByClassName("asd")[i].style.textDecoration = "line-through";
     document.getElementsByClassName("asd")[i].style.color = "red"; 
   document.getElementById("check1").checked= false; 
	 }
    };
$scope.showActiveItem = function() {
storeitems =[];   
    for(i=0;i<$scope.listitems.length;i++)
 {   storeitems.push({ taskdes:  $scope.listitems[i].taskdes , taskStatus :  $scope.listitems[i].taskStatus });
console.log(storeitems[i].taskStatus);
      }
$scope.listitems = [];
 for(i=0;i<storeitems.length;i++)
{
       if( storeitems[i].taskStatus == "active")
{
 $scope.listitems.push(storeitems[i]);
}
}
    };

$scope.showCompleteItem = function() {
storeitems =[];   
    for(i=0;i<$scope.listitems.length;i++)
 {   storeitems.push({ taskdes:  $scope.listitems[i].taskdes , taskStatus :  $scope.listitems[i].taskStatus });
console.log(storeitems[i].taskStatus);
   }
$scope.listitems = [];
 for(i=0;i<storeitems.length;i++)
{
       if( storeitems[i].taskStatus == "completed")
{
 $scope.listitems.push(storeitems[i]);
}
}
    };
$scope.getTotalTodos = function () {
    return $scope.listitems.length;
  };
$scope.getActiveTodos = function () {
var  activeCounter =0;
 for(i=0;i<$scope.listitems.length;i++)
{
    if(  $scope.listitems[i].taskStatus == "active")
{
 activeCounter++;
}
}

return activeCounter;
  };	 
});
</script>

</body>
</html>